.popular-categories {
    padding: 20px;
  }
  
  .category-section {
    margin-bottom: 20px;
  }
  
  .recipe-list {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
    gap: 10px;
  }
  
  .recipe-item {
    text-align: center;
    width: 150px;
  }
  
  .recipe-image {
    width: 100px;
    height: 100px;
    border-radius: 6px;
  }
  